:root{

    --card-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    /* Friends cards */
    --friend-width: 170px;
    --friend-height: 170px;

    /* Stage cards */
    --stage-width: 350px;
    --stage-height: 200px;
    
    /* Transitions */
    --xs-transition-duration: 0.05s;
    --s-transition-duration: 0.1s;
    --sm-transition-duration: 0.2s;
    --m-transition-duration: 0.3s;
}

.peopleList-3c4jOR {
    padding-top: 25px;
}
.title-30qZAO {
    margin: 0;
    position: absolute;
    top: 12px;
    font-size: 15px;
    font-weight: 700;
    transition: var(--s-transition-duration);
}
.peopleList-3c4jOR > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}
.peopleListItem-2nzedh {
    position: relative;
    display: block !important;
    height: var(--friend-height) !important;
    width: var(--friend-width) !important;
    margin: 1.8% !important;
    padding: 0 !important;
    border-radius: 8px;
    transition: var(--s-transition-duration);
    background-color: var(--background-secondary);
    display: none;
    overflow: visible !important;
}
.peopleListItem-2nzedh:hover {
    background-color: var(--background-tertiary);
    box-shadow: var(--card-box-shadow);
}
.peopleListItem-2nzedh:hover .actions-1SQwjn {
    position: absolute;
    display: flex;
}
.actions-1SQwjn {
    display: none;
    bottom: -20px;
    right: 25%;
    margin: 0;
    transition: var(--s-transition-duration);
}
.peopleListItem-2nzedh:hover .actions-1SQwjn .actionButton-uPB8Fs {
    box-shadow: var(--card-box-shadow);
    background-color: var(--background-tertiary);
}
.avatar-3W3CeO {
    width: var(--friend-width);
    height: var(--friend-height);
    transform: scale(3);
    top: calc(var(--friend-height) * 0.3);
    left: calc(var(--friend-width) * 0.4);
    overflow: visible;
}
.avatar-3W3CeO:hover {
    transform: scale(3.5) !important;
}
.text-37NqbO {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.userInfo-2zN2z8 {
    position: relative;
    width: var(--friend-width);
    height: var(--friend-height);
}
.username-31C1TQ {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: visible;
    font-weight: 600;
}

/** STAGE DISCOVERY */

.container-24CyRY {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}
.container-S9SaVf {
    position: relative;
    display: block !important;
    height: var(--stage-height) !important;
    width: var(--stage-width) !important;
    margin: 1.8% !important;
    padding: 0 !important;
    border-radius: 8px;
    transition: var(--s-transition-duration);
    background-color: var(--background-secondary);
    overflow: hidden;
}
.container-S9SaVf:hover {
    background-color: var(--background-tertiary);
    box-shadow: var(--card-box-shadow);
}
.pageHeader-3nuK1W {
    text-align: center;
}
.grid-3fdl0Y {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.speakerContainer-3h4uQU {
    position: relative;
    margin: 1.8% !important;
    border-radius: 8px;
}

/* Better friend list */
.mutualGuilds-s7F2aa {
    position: absolute;
    top: -7%;
    width: var(--friend-width);
    justify-content: center;
    margin: 0;
}
